<div class="content">
  <div class="header-text">
    <span class="title">Te damos la bienvenida</span>
    <p>
      Únete a nuestra comunidad agrícola hoy y lleva tu experiencia de compra al
      siguiente nivel
    </p>
  </div>

  <router-outlet></router-outlet>
  <div class="options">
    <a [routerLink]="['/auth/login']" routerLinkActive="active"
      >Iniciar sesión</a
    >
    <a [routerLink]="['/auth/register']" routerLinkActive="active"
      >Registrarse</a
    >

    <button mat-button class="google">
      <mat-icon svgIcon="google" />Continuar con Google
    </button>
  </div>
  <div class="aviso">
    <p>
      Al continuar, acepta nuestras <a href="#">Condiciones de servicio</a> y
      nuestra <a href="#">Política de privacidad</a>
    </p>
  </div>
  <img
    class="decoration bottom"
    src="../../../assets/svg/flowers_decoration_bottom_cropped.svg"
    alt="flower"
  />
</div>
