@use "../../../assets/styles/app-colors.scss" as ac;
.content {
  height: 100%;
  width: 100%;
  background: ac.$primary-color;
  background: linear-gradient(
    137deg,
    ac.$primary-color 0%,
    ac.$primary-dark-color 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 92%;
    border-radius: 10px;
    background: ac.$background-color 80%;
    box-shadow: 0 0 10px 0 #242424;
    animation: fadeIn 1.5s ease-in-out backwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
