@use "../../../../assets/styles/app-palettes.scss" as ap;

.shopping-cart {
  height: 100%;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.75rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .products {
    margin-top: 2rem;
    padding: 1.5rem;
    height: 62vh;
    overflow-y: auto;
    .product-cart {
      background-color: #fff;
      position: relative;
      height: 20vh;
      display: flex;
      gap: 0.5rem;
      border-bottom: 1px dashed map-get(ap.$primary-palette, 500);
      .remove-product {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        transition: all 0.3s;
        button {
          opacity: 0.5;
        }
      }

      .product-info {
        display: flex;
        width: 55%;
        padding-block: 1rem 1.5rem;
        flex-direction: column;
        justify-content: space-between;
        .product-title {
          font-weight: bold;
        }
        .product-action {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .product-price {
            font-weight: bold;
            color: map-get(ap.$primary-palette, 500);
            .product-price-tacched {
              text-decoration: line-through;
              color: map-get(ap.$primary-palette, 300);
              opacity: 0.5;
            }
          }

          .product-quantity {
            display: flex;
            gap: 0.5rem;
            border: 1px solid map-get(ap.$primary-palette, 500);
            border-radius: 20px;
            align-items: center;
            font-size: 1.2rem;
            button {
              transform: scale(0.8);
            }
          }
        }
      }

      .product-image {
        height: 100%;
        width: 40%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .empty-cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      color: map-get(ap.$primary-palette, 500);
    }
  }

  .buy-action {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid map-get(ap.$primary-palette, 500);
    z-index: 3;
    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .button-buy {
      padding: 1rem;
      button {
        width: 100%;
        height: 100%;
        padding-block: 1rem;
        font-size: 1.2rem;
        background-color: map-get(ap.$primary-palette, 500);
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: map-get(ap.$primary-palette, 200);
        }
      }
    }
  }
}
