<h2 mat-dialog-title>Confirmar Compra</h2>
<mat-dialog-content>
  <h3>
    ¿Desea confirmar su compra por un total de
    {{ data.totalCartPrice | currency : "S/. " }}?
  </h3>
</mat-dialog-content>

<mat-dialog-actions [align]="isLoading ? 'center' : 'end'">
  @if(isLoading) {
  <div class="spinner">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="35"
      strokeWidth="3"
    ></mat-progress-spinner>
  </div>
  } @else {
  <button mat-stroked-button color="warn" (click)="onClickAction(false)">
    Cancelar
  </button>
  <button mat-raised-button color="accent" (click)="onClickAction(true)">
    Confirmar
  </button>
  }
</mat-dialog-actions>
