@use "./app-colors.scss" as ac;

$primary-palette: (
  50: #e4e7e8,
  100: #bcc3c6,
  200: #8f9ba0,
  300: #627379,
  400: #41555d,
  500: #1f3740,
  600: #1b313a,
  700: #172a32,
  800: #12232a,
  900: #0a161c,
  A100: #5dc1ff,
  A200: #2aadff,
  A400: #0097f6,
  A700: #0087dc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$primary-dark-palette: (
  50: #e3e5e5,
  100: #b8bebe,
  200: #899393,
  300: #5a6767,
  400: #364747,
  500: #132626,
  600: #112222,
  700: #0e1c1c,
  800: #0b1717,
  900: #060d0d,
  A100: #52ffff,
  A200: #1fffff,
  A400: #00ebeb,
  A700: #00d1d1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$secondary-palette: (
  50: #e9f1e2,
  100: #c7ddb8,
  200: #a2c688,
  300: #7caf58,
  400: #609d35,
  500: #448c11,
  600: #3e840f,
  700: #35790c,
  800: #2d6f0a,
  900: #1f5c05,
  A100: #a7ff8e,
  A200: #80ff5b,
  A400: #58ff28,
  A700: #45ff0f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent-palette: (
  50: #f3f7ee,
  100: #e0ecd5,
  200: #ccdfb9,
  300: #b8d29d,
  400: #a8c988,
  500: #99bf73,
  600: #91b96b,
  700: #86b160,
  800: #7ca956,
  900: #6b9b43,
  A100: #f7fff1,
  A200: #daffbe,
  A400: #beff8b,
  A700: #afff72,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
