$primary-color: #1f3740;

$primary-dark-color: #132626;

$secondary-color: #448c11;

$accent-color: #99bf73;

$warn-color: #ba1a1a;

$background-color: #f2f2f2;
$white-opacity-color: #ffffffd9;
$on-background-color: #191c1d;
